body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Helvetica, Arial, Serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: darkred;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.container {
    display: block;
    width: calc(100% - 32px);
    padding: 16px;
    max-width: 768px;
    min-width: 360px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.content {
    padding-bottom: 16px;
}

.sc-cmd {
    color: white;
    background-color: darkred;
    padding: 4px 8px;
    border-radius: 4px;
}

.sc-desc {
    margin-left: 8px;
}

footer {
    color: #333;
    background-color: beige;
    padding: 16px;
    position: relative;
    bottom: 0;
    text-align: center;
}

#change-btn {
    float: right;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: maroon;
}

button:active {
    color: grey;
}

#search-input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#next-btn {
    padding: 8px 16px;
    border: none;
    align-items: right;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#previous-btn {
    padding: 8px 16px;
    border: none;
    align-items: left;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#sort-direction {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#search-tab{
    padding: 8px;
}